@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.grid {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: [col1-start] 15% [col2-start] 50% [col3-start] 20%;
    grid-template-rows: [row1-start] 10% [row2-start] 60% [row3-start] 30%;
    grid-template-areas:
    "sidebar ...... ......"
    "sidebar Infotext Image"
    "sidebar ...... ......";


}
.grid2 {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: [col1-start] 15% [col2-start] 50% [col3-start] 20%;
    grid-template-rows: [row1-start] 10% [row2-start] 20% [row3-start] 20% [row4-start] 20% [row5-start] 10%;
    grid-template-areas: 
    "sidebar ...... ......"
    "sidebar Infotext1 Image1"
    "sidebar Infotext2 Image2"
    "sidebar Infotext3 Image3"
    "sidebar ...... ......";

}
.grid3{
    min-height: 100vh;
    min-width: 100vw;
    grid-column-gap: 5%;
    display: grid;
    grid-template-columns: [col1-start] 15% [col2-start] 50% [col3-start] 20%;
    grid-template-rows: [row1-start] 10% [row2-start] 60% [row3-start] 30%;
    grid-template-areas:
    "sidebar ...... ......"
    "sidebar ContactText1 ContactImage1"
    "sidebar ...... ......";
}
.ContactText1{
    grid-area: ContactText1;
}
.ContactImage1{
    grid-area: ContactImage1;
}
.box{
    background-color: #2e3440;
    border-radius: 15px;
    padding: 10px;
    white-space: pre-line;
    font-size: 150%;
}
.imagecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.ProjectsImage1{
    grid-area: Image1;
}
.ProjectsImage2{
    grid-area: Image2;
}
.ProjectsImage3{
    grid-area: Image3
}
.Indextext1{
    grid-area: Infotext;
}
.ProjectsText1{
    grid-area: Infotext1;
}
.ProjectsText2{
    grid-area: Infotext2;
}
.ProjectsText3{
    grid-area: Infotext3;
}
.ProjectsImage1{
    grid-area: Image1;
}
.Image1{
    grid-area: Image;
}
p.words{
    width: 100%;
    white-space: normal;
}
.profile{
    max-width: 100%;
    height: auto;
}
body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    background-color: #242933;
    font-family: 'Roboto Mono';
    color: white;
}
.sidebar{
    grid-area: sidebar;
    background:#4C566A;
}
.nav{
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}
li{
    
    position:relative;
    margin: 3.2em 0;
    list-style-type: none;
}
a {
    line-height: 4em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: rgba(#FFF, 0.35);
    display: block;
  }

@media all and (min-width: 1200px) and (max-width: 1500px) {
    .nav{
        position: relative;
        margin: 0;
        text-align: left;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
    }
}
@media all and (max-width: 1200px){
    .grid {
        min-height: 100vh;
        min-width: 100vw;
        display: grid;
        grid-row-gap: 10px;
        grid-template-columns: [col1-start] 100%;
        grid-template-rows: [row1-start] 10vh [row2-start] 60% [row3-start] 25%;
        grid-template-areas:
        "sidebar"
        "Infotext"
        "Image";    
    }
    .grid2 {
        min-height: 100vh;
        min-width: 100vw;
        display: grid;
        grid-row-gap: 10px;
        grid-template-columns: [col1-start] 100%;
        grid-template-rows: [row1-start] 10vh [row2-start] 40% [row3-start] 11% [row4-start] 11% [row5-start] 11% [row6-start] 11% [row7-start] 11%;
        grid-template-areas: 
        "sidebar"
        "Infotext1"
        "Image1"
        "Infotext2"
        "Image2"
        "Infotext3"
        "Image3";
    
    }
    ul li{
        display: inline-block;
        padding: 0 1rem;
    }
    a {
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.1em;
        display: block;
        font-size: 83%;
      }
      .nav{
        text-align: center;
    }
}