@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
/*--------------------------------Grids for normal screen--------------------------------*/
.grids{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
}
.grid {
    grid-column-gap: 5%;
    grid-template-columns: [col1-start] 15% [col2-start] 50% [col3-start] 20%;
    grid-template-rows: [row1-start] 10% [row2-start] 60% [row3-start] 30%;
    grid-template-areas:
    "sidebar ...... ......"
    "sidebar Infotext Image"
    "sidebar ...... ......";
}
.grid2 {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: [col1-start] 15% [col2-start] 50% [col3-start] 20%;
    grid-template-rows: [row0-start] 3% [row1-start] 20% [row2-start] 20% [row3-start] 20% [row4-start] 20% [row5-start] 20% [row6-start] 3%;
    grid-template-areas: 
    "sidebar ...... ......"
    "sidebar Infotext1 Image1"
    "sidebar Infotext2 Image2"
    "sidebar Infotext3 Image3"
    "sidebar Infotext4 Image4"
    "sidebar Infotext5 Image5"
    "sidebar ...... ......";

}
.grid3{
    grid-column-gap: 5%;
    grid-template-columns: [col1-start] 15% [col2-start] 50% [col3-start] 20%;
    grid-template-rows: [row1-start] 30% [row2-start] 40% [row3-start] 30%;
    grid-template-areas:
    "sidebar ...... ......"
    "sidebar ContactText1 ContactImage1"
    "sidebar ...... ......";
}
/*--------------------------------All divs related to the home page--------------------------------*/
.Indextext1{
    grid-area: Infotext;
}
.Image1{
    grid-area: Image;
}
/*--------------------------------All divs related to the Projects page--------------------------------*/
.ProjectsText1{
    grid-area: Infotext1;
}
.ProjectsText2{
    grid-area: Infotext2;
}
.ProjectsText3{
    grid-area: Infotext3;
}
.ProjectsText4{
    grid-area: Infotext4;
}
.ProjectsText5{
    grid-area: Infotext5;
}
.ProjectsImage1{
    grid-area: Image1;
}
.ProjectsImage1{
    grid-area: Image1;
}
.ProjectsImage2{
    grid-area: Image2;
}
.ProjectsImage3{
    grid-area: Image3;
}
.ProjectsImage4{
    grid-area: Image4;
}
.ProjectsImage5{
    grid-area: Image5;
}
/*--------------------------------All divs related to the Contact page--------------------------------*/
.ContactText1{
    grid-area: ContactText1;
}
.ContactImage1{
    grid-area: ContactImage1;
}
/*--------------------------------Everything related to the menu bar--------------------------------*/
.nav{
    position: relative;
    margin: 0 5%;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;

}

li{
    
    position:relative;
    margin: 3.2em 0;
    list-style-type: none;
}

.NavLinks {
    line-height: 4em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: #ff9552;
    display: block; 
}
.sidebar{
    grid-area: sidebar;
    border-right: 3px solid #232533;
}

/*--------------------------------Everything related to the text boxes--------------------------------*/
.box{
    background-color: #232533;
    border-radius: 15px;
    padding: 10px;
    white-space: pre-line;
    font-size: 1.1vw;

}
/*--------------------------------Everything related to the images--------------------------------*/
.imagecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
/*--------------------------------Everything related to the link in the pages--------------------------------*/
.EmailLink{
    color: #ffd751;
}
.Link{
    color: #36c1f6;
}


/*--------------------------------Everything related to the text--------------------------------*/
body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    background-color: #191b25;
    font-family: 'Roboto Mono';
    color: white;
    overflow-x: hidden;
}


/*--------------------------------This is active when the window reaches a certain size, rearranging the layout and changing text size--------------------------------*/
@media all and (max-width: 1200px){
    .grid {
        grid-row-gap: 5%;
        grid-template-columns: [col1-start] 100%;
        grid-template-rows: [row1-start] 10vh [row2-start] 50% [row3-start] 45%;
        grid-template-areas:
        "sidebar"
        "Infotext"
        "Image";    
    }
    .grid2 {
        grid-row-gap: 10px;
        grid-template-columns: [col1-start] 100%;
        grid-template-rows: [row1-start] 10vh [row2-start] 15% [row3-start] 11% [row4-start] 15% [row5-start] 11% [row6-start] 15% [row7-start] 11% [row8-start] 15% [row9-start] 11% [row10-start] 15% [row11-start] 11%; 
        grid-template-areas: 
        "sidebar"
        "Infotext1"
        "Image1"
        "Infotext2"
        "Image2"
        "Infotext3"
        "Image3"
        "Infotext4"
        "Image4"
        "Infotext5"
        "Image5";
    
    }
    .grid3 {
        grid-row-gap: 5%;
        grid-template-columns: [col1-start] 100%;
        grid-template-rows: [row1-start] 10vh [row2-start] 35% [row3-start] 30%;
        grid-template-areas:
        "sidebar"
        "ContactText1"
        "ContactImage1";    
    }
    .box.ContactText1{
        font-size: 2.5vw;
    }

    ul li{
        display: inline-block;
        padding: 0 1rem;
    }
    .NavLinks {
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.1em;
        display: block;
        font-size: 3vw;
        color: #ff9552;
      }
    .nav{
        text-align: center;
    }
    .box{
        background-color: #232533;
        border-radius: 15px;
        padding-left: 2%;
        white-space: pre-line;
        font-size: 1.8vw;
    }

}