@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: [col1-start] 15% [col2-start] 50% [col3-start] 35%;
    grid-template-rows: [row1-start] 10% [row2-start] 60% [row3-start] 30%;
    grid-template-areas:
    "sidebar ...... ......"
    "sidebar Infotext Image"
    "sidebar ...... ......";


}
.box{
    background-color: #2e3440;
    border-radius: 15px;
    padding: 10px;
}
.imagecontainer{
    grid-area: Image;
}
.text1{
    grid-area: Infotext;
}
p.words{
    width: 100%;
    white-space: normal;
}
.profile{

}
body {
    min-height: 100vh;
    margin: 0;
    background-color: #242933;
    font-family: 'Roboto Mono';
    color: white;
}
.sidebar{
    grid-area: sidebar;
    background:#4C566A;
}
.nav{
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}
li{
    position:relative;
    margin: 3.2em 0;
    list-style-type: none;
}
a {
    line-height: 4em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: rgba(#FFF, 0.35);
    display: block;
  }
#Contact{

}
#Home{

}
#Projects{

}
@media all and (max-width: 600px){
    .sidebar{
        position: fixed;
        width: 40%;;
        height: 15%;
        background:#4C566A;
    }
    .nav{
        position: relative;
        margin: 0 15%;
        text-align: right;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
    }
    .li{
        
    }
}